<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>

		<add key="Key" value="2000200120022003"/>
	</appSettings>
	<connectionStrings>
  <add name="ConnectionString" connectionString="server=.;database=abjad;trusted_connection=true" />
  <add name="Abjad.Properties.Settings.AUConnectionString" connectionString="Data Source=.;Initial Catalog=AU;Integrated Security=True;TrustServerCertificate=True"
   providerName="Microsoft.Data.SqlClient" />
 </connectionStrings>
	
</configuration>